
.inline-form input
{
	display: inline-block;
	width: 150px;
}

.titre
{
	margin-top: 2rem;
    margin-bottom: 0.5rem
}

.form-group
{
	margin-top: 0.5rem;
}

.col-md-9 #best
{
	margin-top: 2.5rem;
}

.col-md-4
{
	margin-bottom: 1rem;
}

.ui-autocomplete {
            z-index:2000;
        }