{# src/EX/GrumpyWebBundle/Resources/views/Forum/view_event.html.twig #}

{% extends "@EXGrumpy/layout.html.twig" %}

{% block title %}
  Mentions légales - {{ parent() }}
{% endblock %}

{% block stylesheets %}
{{parent()}}
{% endblock %}

{% block ocplatform_body %}
<div style="padding: 100px">
  <h2>Mentions l&eacutegales</h2>
  <p class="lead">
    Conformément aux dispositions de la loi n° 2004-575 du 21 juin 2004 pour la confiance en l'économie numérique, il est précisé aux utilisateurs du Site l'identité des différents intervenants dans le cadre de sa réalisation et de son suivi.
  </p>
  <p>
    Edition du site Le site BDECESI est édité par la société ****** , au capital social de ****** € euros, immatriculée au Registre du commerce et des sociétés de Paris sous le n° ******** et dont le siège social est situé **, rue *****, CPL, VILLE (Siret n° ***** et TVA intracommunautaire n° ***********).
  </p>
  <p>
    Responsable de publication: CESI.
  </p>
  <p>
    Hébergeur: Le site BDECESI est hébergé par la société *****, ***** Street, VILLE, CP (tel : ******). Le stockage des données personnelles des utilisateurs est exclusivement réalisé sur les centres de données ("clusters") de la société *******, dont le siège social est situé *******, VILLE, CP. Tous les clusters ***** sur lesquels les données du Site sont stockées sont localisés dans des Etats membres de l'Union Européenne.
  </p>
  <p id="contacter">
    Nous contacter : 
  </p>
  <ul>
    <li>Par téléphone : **********</li>
    <li>Par email : *******@*******.fr</li>
    <li>Par courrier : ******************</li>
  </ul>
  <p>
    CNIL La collecte et le traitement informatique des données nominatives par la Société a fait l'objet d'une déclaration simplifiée auprès de l'autorité française de protection des données personnelles (la Commission Nationale de l'Informatique et des Libertés - CNIL) (numéro n° ********).
  </p>
  <p>
    Correspondant Informatique & Liberté (CIL) : Cabinet ******, ******, CP VILLE, Tél : *********.
  </p>
  <p>
    Vous bénéficiez d’un droit d’accès et de rectification aux informations qui vous concernent, que vous pouvez exercer en vous adressant au Responsable CNIL de la Société à l’adresse postale (ou électronique) suivante : **********, CP VILLE (*******@*******.fr). Vous pouvez également, pour des motifs légitimes, vous opposer au traitement des données vous concernant.
  </p>
</div>
{% endblock %}