{# src/EX/GrumpyWebBundle/Resources/views/Forum/view_idee.html.twig #}

{% extends "@EXGrumpy/layout.html.twig" %}

{% block title %}
  Évènements - {{ parent() }}
{% endblock %}

{% block ocplatform_body %}

  <h1>Events officiels</h1>

 
{% endblock %}